#patient {
    border-collapse: collapse;
    width: 90%;
    margin-left: 2%;
}

#patient td,
#patient th {
    border: 1px solid #ddd;
    padding: 8px;
}

#patient tr:nth-child(even) {
    background-color: #f2f2f2;
}

#patient tr:hover {
    background-color:#EDF4FC;
}

#patient th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: pink;
    color: #000000;
}
#patient button
{
    background-color: rgb(104, 239, 104);
    border: none;
}