body {

    background:linear-gradient(118.7deg, #D5D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0) 103.35%, #E0E9F4 103.35%);
   }
.container {
    margin: 5em;
    background:rgb(235, 233, 233);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.651));

    display: flex;
}

i {
  background: white;
  border-radius: 40px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  border-radius:50%;
  display:inline-flex;
  padding:5px;
  height: 100px;
  width: 100px;
  margin-top: 20%;
  margin-left: 10px;
}


img {
  display: flexbox;

}
/* .circleBase {
  border-radius: 50%;
}
.circle1 {
  width: 100px;
  height: 100px;
  background: white;
  margin-left: -10%;
  margin-top: 5%;
  display: flex;
}
img {
    width: 100px;

} */

.container1 {
    background:linear-gradient(118.7deg, #D5D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0) 103.35%, #E0E9F4 103.35%);
    
width: 1190px;
max-width: 100%;
height: 884px;
max-height: 100%;
    
}
.container2{
   height: 650px;
margin: 0 6%;
margin-top: 5%;
    background-color: #fff;
box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
border-radius: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-button {
    display: flex;
}
.nav1 img{
    padding: 25px;

}
.user-box {
    position: relative;
  }
  
  .user-box input {
    width: 20%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(8, 8, 8);
    margin-bottom: 30px;
    margin-left: 5%;
    border: none;
    border-bottom: 1px solid rgb(5, 5, 5);
    outline: none;
    background: transparent;
  }
  .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #050505;
    font-size: 17px;
    font-weight: bold;
  }
  .col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
  }
  .col-half:last-of-type {
    padding-right: 0;
  }
  .col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
  }
  .col-third:last-of-type {
    padding-right: 0;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .file-upload {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #ffffff;
    font-size: 100px;
  }
  .wrapper .file-upload input[type=file] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
  }